{
    "rules": {
        "semi": [2, "always"],
        "indent": [2,4],
        "linebreak-style": [2,"unix"]
    },
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended"
}